<html>
	<head>
	    <meta charset="utf-8">
		<title>Jugando con Twitter</title>
		<script type="text/javascript" src="./funcion.js"></script>
		{{mymap.js}}
		<script type="text/javascript">
			function buscarPorCriterio(){
				document.formulario.action = 'http://localhost:5000/termino/' + document.getElementById("criterio").value;
				document.formulario.submit();
			}
		</script>
	</head>
	<body>
		<h1>Resultados con "{{ termino }}"</h1>
		<form method="get" action="" name="formulario">
				<p>Introduzca nuevo término de busqueda:<p>
				<input type="text" id="criterio" />
				<button onclick="buscarPorCriterio()">Buscar</button> 
			</form>
		<p>{{mymap.html}}</p>
	</body>
</html>
